li
    {
    float: left;
    list-style: none;
    padding: 15px;

    }
nav
    {
    float: right;
    margin-top: 60px;
    margin-right: 150px;
    }
a
    {
    text-decoration: none;
    color: red;
    /* font-size: 32px; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    /* background-color: black; */
    }
img
    {
    margin-top: 50px;
    margin-left: 150px;
    }
li:hover a{
    color: black;
}